<template>
	<form ref="form" id="searchform" @submit.prevent="searchUser()" autocomplete="off" v-if="user === null">
		<div class="card-title">
		    <h6 class="text-primary">
		        • Introduce la dirección de correo electrónico del usuario a transferir
		    </h6>
		</div>

		<hr>
		<div class="row">
		    <div class="col">
		        <label for="address">Correo electrónico</label>
		        <div class="input-group">
		            <input type="email" class="form-control boxed" id="address" v-model="search" required/>
		            <span class="input-group-append">
		                <input type="submit" class="btn btn-primary" id="look" value="BUSCAR">
		            </span>
		        </div>
		    </div>
		</div>
	</form>

	<form ref="form" id="createform" @submit.prevent="toTransfer()" autocomplete="off" v-else>
		<div class="row">
			<div class="col">
		        <label for="name">Nombres</label>
		        <div class="form-group">
		            <input type="text" class="form-control boxed" id="name" v-model="user.name" readonly/>
		        </div>
		    </div>
		    <div class="col">
		        <label for="surname">Apellidos</label>
		        <div class="form-group">
		            <input type="text" class="form-control boxed" id="surname" v-model="user.surname" readonly/>
		        </div>
		    </div>
		</div>
		<div class="row">
		    <div class="col">
		        <label for="email">Correo electrónico</label>
		        <div class="form-group">
		            <input type="email" class="form-control boxed" id="address" v-model="user.email" readonly/>
		        </div>
		    </div>
		</div>
		<div class="row">
		    <div class="col">
				<div class="form-group">
                    <button type="submit" class="btn btn-primary"> Transferir </button>
                    <a href="#" @click="destroy()"> Seguir buscando... </a>
               </div>
           </div>
       </div>
	</form>
</template>
<script>
export default {
	props: ['post'],
	data () {
		return {
			user: null,
			search: '',
			errors: []
		}
	},
	methods: {
		searchUser: function () {
			
			axios.get(`/admin/search/user/` + this.search).then(response => {
				
				if (jQuery.isEmptyObject(response.data.user) === false) this.user = response.data.user
				else toastr.error('La dirección de correo electrónico no existe.', 'Error!')

			});

		},
		toTransfer: function () {

			axios.post(`/admin/to/transfer`, {

				user: this.user,
				post: this.post

			}).then(response => {

				this.user = null
				toastr.success('El anuncio ha cambiado de propietario!', 'Exito!')

			});
		},
		destroy: function () {
			this.user = null
		}
	}
};
</script>