<template>
	<form ref="form" id="createform" @submit.prevent="createEvent()" autocomplete="on">
		<div class="card-body">
    		<div class="row">
			    <div class="col">
			        <label for="category"> Estoy organizando </label>
			        <div class="form-group">
				        <select id="category" v-model="type" :class="[ 'form-control', errors.type ? ' is-invalid' : '' ]" required>
				        	<option value="" selected disabled>Elige un tipo de evento</option>
				        	<optgroup label="FIESTAS POPULARES">
				        		<option value="Verbenas">Verbenas</option>
				        		<option value="Fallas">Fallas</option>
				        		<option value="Ferias">Ferias</option>
				        		<option value="Fiesta del Pilar">Fiesta del Pilar</option>
				        		<option value="Fiestas locales y patronales">Fiestas locales y patronales</option>
				        		<option value="Hoguera de San Juan">Hoguera de San Juan</option>
				        		<option value="Moros y Cristianos">Moros y Cristianos</option>
				        		<option value="San Fermín">San Fermín</option>
				        		<option value="San Isidro">San Isidro</option>
				        		<option value="Sant Jordi">Sant Jordi</option>
				        		<option value="Semana Grande de Bilbao">Semana Grande de Bilbao</option>
				        		<option value="Semana Santa">Semana Santa</option>
				        		<option value="Tomatina de Buñol">Tomatina de Buñol</option>
				        	</optgroup>
				        	<optgroup label="BODAS">
				        		<option value="Aniversario de Bodas">Aniversario de Bodas</option>
				        		<option value="Banquetes de Boda">Banquetes de Boda</option>
				        		<option value="Boda Civil">Boda Civil</option>
				        		<option value="Boda Religiosa">Boda Religiosa</option>
				        		<option value="Bodas">Bodas</option>
				        		<option value="Bodas de Oro">Bodas de Oro</option>
				        		<option value="Bodas de Plata">Bodas de Plata</option>
				        		<option value="Bodas en la Playa">Bodas en la Playa</option>
				        		<option value="Ceremonia de Bodas">Ceremonia de Bodas</option>
				        		<option value="Cóctel de Bienvenida">Cóctel de Bienvenida</option>
				        		<option value="Despedida de Soltero">Despedida de Soltero</option>
				        		<option value="Despedida de Soltera">Despedida de Soltera</option>
				        		<option value="Recepción de Bodas">Recepción de Bodas</option>
				        	</optgroup>
				        	<optgroup label="CUMPLEAÑOS Y ANIVERSARIOS">
				        		<option value="Aniversario de Boda">Aniversario de Boda</option>
				        		<option value="Cumpleaños">Cumpleaños</option>
				        		<option value="Cumpleaños Adulto">Cumpleaños Adulto</option>
				        		<option value="Cumpleaños Infantil">Cumpleaños Infantil</option>
				        		<option value="Fiesta de Aniversario">Fiesta de Aniversario</option>
				        		<option value="Fiesta de Jubilación">Fiesta de Jubilación</option>
				        	</optgroup>
				        	<optgroup label="EVENTOS">
				        		<option value="Cabalgatas de Reyes">Cabalgatas de Reyes</option>
				        		<option value="Cenas">Cenas</option>
				        		<option value="Certámenes">Certámenes</option>
				        		<option value="Cóctel">Cóctel</option>
				        		<option value="Concentración de Coches">Concentración de Coches</option>
				        		<option value="Concentración de Motos">Concentración de Motos</option>
				        		<option value="Conciertos">Conciertos</option>
				        		<option value="Convenciones">Convenciones</option>
				        		<option value="Cruceros">Cruceros</option>
				        		<option value="Entrega de Premios">Entrega de Premios</option>
				        		<option value="Evento Corporativo">Evento Corporativo</option>
				        		<option value="Exposiciones">Exposiciones</option>
				        		<option value="Festivales">Festivales</option>
				        		<option value="Inauguraciones">Inauguraciones</option>
				        		<option value="Pasacalles">Pasacalles</option>
				        		<option value="Quedadas">Quedadas</option>
				        		<option value="Reuniones Familiares">Reuniones Familiares</option>
				        		<option value="Seminarios">Seminarios</option>
				        	</optgroup>
				        	<optgroup label="DÍAS ESPECIALES">
				        		<option value="Año Nuevo Chino">Año Nuevo Chino</option>
				        		<option value="Bautizos">Bautizos</option>
				        		<option value="Carnavales">Carnavales</option>
				        		<option value="Comuniones">Comuniones</option>
				        		<option value="Día de la Madre">Día de la Madre</option>
				        		<option value="Día de todos los Santos">Día de todos los Santos</option>
				        		<option value="Día del Padre">Día del Padre</option>
				        		<option value="Día del Trabajador">Día del Trabajador</option>
				        		<option value="Funerales">Funerales</option>
				        		<option value="Noche Buena">Noche Buena</option>
				        		<option value="Noche Vieja">Noche Vieja</option>
				        		<option value="Pedidas de Mano">Pedidas de Mano</option>
				        		<option value="San Valentín">San Valentín</option>
				        	</optgroup>
				        	<optgroup label="FIESTAS">
				        		<option value="Fiesta de Disfraces">Fiesta de Disfraces</option>
				        		<option value="Fiesta de Empresas">Fiesta de Empresas</option>
				        		<option value="Fiesta de Fin de Curso">Fiesta de Fin de Curso</option>
				        		<option value="Fiesta de Graduación">Fiesta de Graduación</option>
				        		<option value="Fiesta de halloween">Fiesta de halloween</option>
				        		<option value="Fiesta de los 50">Fiesta de los 50</option>
				        		<option value="Fiesta de los 60">Fiesta de los 60</option>
				        		<option value="Fiesta de los 70">Fiesta de los 70</option>
				        		<option value="Fiesta de los 80">Fiesta de los 80</option>
				        		<option value="Fiesta en Barco">Fiesta en Barco</option>
				        		<option value="Fiesta en la Playa">Fiesta en la Playa</option>
				        		<option value="Fiesta Gay">Fiesta Gay</option>
				        		<option value="Fiestas Hawaianas">Fiestas Hawaianas</option>
				        		<option value="Fiesta Étnicas">Fiesta Étnicas</option>
				        		<option value="Fiesta Fin de Año">Fiesta Fin de Año</option>
				        		<option value="Fiestas Navideñas">Fiestas Navideñas</option>
				        		<option value="Fiesta para la 3ª Edad">Fiesta para la 3ª Edad</option>
				        		<option value="Fiesta Privadas">Fiesta Privadas</option>
				        		<option value="Fiestas Single">Fiestas Single</option>
				        		<option value="Fiesta Sorpresa">Fiesta Sorpresa</option>
				        		<option value="Fiesta Temáticas">Fiesta Temáticas</option>
				        		<option value="Ectoberfest">Ectoberfest</option>
				        		<option value="Otros">Otros</option>
				        	</optgroup>
				        </select>

				        <div class="invalid-feedback" v-if="errors.type">
							{{ errors.type[0] }}
						</div>
			    	</div>
			    </div>
			    <div class="col">
			    	<label for="country"> Ciudad </label>
			    	<div class="form-group">
			    		<input type="text" id="country" :class="[ 'form-control', errors.country ? ' is-invalid' : '' ]" v-model="country" placeholder="Empieza a escribir" required/>

			    		<div class="invalid-feedback" v-if="errors.country">
							{{ errors.country[0] }}
						</div>
			    	</div>
			    </div>
			    <div class="col">
			    	<label for="postal_code"> Código Postal </label>
			    	<div class="form-group">
			    		<input type="text" id="postal_code" :class="[ 'form-control', errors.postal_code ? ' is-invalid' : '' ]" v-model="postal_code" required/>

			    		<div class="invalid-feedback" v-if="errors.postal_code">
							{{ errors.postal_code[0] }}
						</div>
			    	</div>
			    </div>
			</div>
			<div class="row">
				<div class="col">
					<label for="day"> Día del evento </label>
				    <div class="form-group">
				    	<input type="date" id="day" :class="[ 'form-control', errors.day ? ' is-invalid' : '' ]" v-model="day" placeholder="Click para elegir" required/>

				    	<div class="invalid-feedback" v-if="errors.day">
							{{ errors.day[0] }}
						</div>
				    </div>
				</div>
				<div class="col">
					<label for="hour">Hora del evento</label>
					<div class="form-group">
						<input type="time" id="hour" :class="[ 'form-control', errors.hour ? ' is-invalid' : '' ]" v-model="hour" placeholder="Hora" require/>

						<div class="invalid-feedback" v-if="errors.hour">
							{{ errors.hour[0] }}
						</div>
					</div>
				</div>
				<div class="col">
					<label for="duration">Duración del evento</label>
					<div class="form-group">
						<select id="category" v-model="duration" class="form-control" required>
							<option value="" selected disabled>Duración</option>
							<option value="No lo sé">No lo sé</option>
							<option value="30 minutos">30 minutos</option>
							<option value="45 minutos">45 minutos</option>
							<option value="1 hora">1 hora</option>
							<option value="2 horas">2 horas</option>
							<option value="3 horas">3 horas</option>
							<option value="4 horas">4 horas</option>
							<option value="5 horas">5 horas</option>
							<option value="6 horas">6 horas</option>
							<option value="7 horas">7 horas</option>
							<option value="8 horas">8 horas</option>
						</select>

						<div class="invalid-feedback" v-if="errors.duration">
							{{ errors.duration[0] }}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="detail">Detalles de tu fiesta o evento</label>
					<textarea id="detail" rows="3" cols="30" v-model="detail" :class="[ 'form-control', errors.detail ? ' is-invalid' : '' ]" placeholder="Por favor, cuéntanos todo lo que necesitas para tu fiesta o evento" required></textarea>
					
					<div class="invalid-feedback" v-if="errors.detail">
							{{ errors.detail[0] }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<div class="checkbox">    
                            <label>
                                <input type="checkbox" name="politics" required> He leído y acepto el aviso legal y la politica de privacidad
                            </label>
                        </div>
					</div>
				</div>
			</div>
			<div class="row">
                <div class="col">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary float-right">
                            Continuar
                        </button>
                    </div>
                </div>
            </div>
            <div class="card mt-4">
            	<div class="card-body">
		            <div class="row">
		                <div class="col">
		                    <div class="form-group">
		                        <div class="p-2">
		                            <div class="font-weight-bold">
		                                Responsable: <span class="font-weight-light">Francisco Carvajal Pérez</span>
		                            </div>
		                            <div class="font-weight-bold">
		                                Finalidad: <span class="font-weight-light">Responder solicitudes y dar respuesta a las dudas relativas al funcionamiento del sitio web</span>
		                            </div>
		                            <div class="font-weight-bold">
		                                Legitimización: <span class="font-weight-light">Consentimiento del interesado</span>
		                            </div>
		                            <div class="font-weight-bold">
		                                Destinatarios: <span class="font-weight-light">Se cederán datos a terceros por obligación legal y para la ejecución del servicio que nos has solicitado</span>
		                            </div>
		                            <div class="font-weight-bold">
		                                Derechos: <span class="font-weight-light">Acceder, rectificar y suprimir los datos, asi como otros derechos, como se explica en la información adicional</span>
		                            </div>
		                            <div class="font-weight-bold">
		                                Información adicional: <span class="font-weight-light">Consulta la información completa en la <a href="">politica de privacidad.</a></span>
		                            </div>
		                        </div>
		                    </div>
		                </div>
            		</div>
            	</div>
            </div>
    	</div>
	</form>
</template>
<script>
export default {
	data () {
		return {
			type: '',
			country: '',
			postal_code: '',
			day: '',
			hour: '',
			duration: '',
			detail: '',
			errors: []
		}
	},
	methods: {
		createEvent: function () {
			
			axios.post('/budgets/event', {

				type: this.type,
				country: this.country,
				postal_code: this.postal_code,
				day: this.day,
				hour: this.hour,
				duration: this.duration,
				detail: this.detail

			}).then(response => {

				window.location.href = `/budgets/events`;

			}).catch(error => {

				this.errors = error.response.data;
			});
		}
	}
};
</script>