<template>
	<div class="card">
		<div class="card-body">
			<div class="font-weight-light" v-if="next === false">
		    	<p class="text-justify">
		    		Si por falta de tiempo no puedes crear tus propios anuncios te lo creamos nosotros por un módico precio con nuestro equipo de profesionales. 
		    	</p>
		    	<p class="text-justify">
		    		Le insertamos las características de su servicio, fotos, videos, mp3, próximos eventos, datos de contacto en cada una de las categorías y provincias que desee a nivel nacional, para ello solo tiene que rellenar este cuestionario y mandarnos, tus fotos, enlaces de videos de youtube y mp3 de soundcloud, las fechas y lugares de tus próximos eventos, a exponer por cada anuncio, categoría donde deseas aparecer. Y nosotros te creamos cada anuncio por tan solo <strong> 5 € + 21% de IVA = 6,05 € </strong>	
		    	</p>
		    	<button type="button" @click="next = true" class="btn btn-primary">CREAR ANUNCIO</button>
			</div>
			<div class="card-body" v-else>
				<div class="card-title">
		            <h6 class="text-primary">
		                • Selecciona si OFRECE un servicio o DEMANDA un servicio.
		            </h6>
		        </div>
				<div class="row">
					<div class="col">
				        <div class="form-group">
				            <label for="type_posts">Oferta/Demanda <span class="text-danger">(*)</span></label>
				            <div class="form-group">
					            <select id="type_posts" class="form-control" v-model="type_posts" required>
					                <option value="0">Ofrezco mis servicios como empresa o artista (Oferta)</option>
					                <option value="1">Busco empresa o artista para contratar (Demanda)</option>
					            </select>
				        	</div>
				        </div>
				    </div>
				</div>
				<form ref="form" id="createoffer" @submit.prevent="createOffer()" autocomplete="on" v-if="type_posts == 0">
					<div class="card-title">
			            <h6 class="text-primary">
			                • Selecciona en que Categoría y Subcategoría deseas aparecer
			            </h6>
			        </div>
					<div class="row">
						<div class="col">
							<label for="category">Categorías</label>
							<div class="form-group">
								<select id="category" class="form-control" v-model="category" @change="getCategory()" required>
					                <option value="" selected disabled>Seleccioné una categoría</option>
					                <option :value="category.id" v-for="category in categories">{{ category.name }}</option>
					            </select>
							</div>
						</div>
						<div class="col">
							<label for="subcategory">Subcategoría</label>
							<div class="form-group">
								<select id="subcategory" class="form-control" v-model="subcategory" required>
									<option value="" selected disabled>Seleccioné una subcategoría</option>
									<option :value="category.id" v-for="category in subcategories">{{ category.name }}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="card-title">
			            <h6 class="text-primary">
			                • Selecciona en que provincias deseas que aparezca tu anuncio
			            </h6>
			        </div>
			        <div class="row">
				        <div class="col">
							<label for="district">Provincia</label>
							<div class="form-group">
								<select id="district" class="form-control" v-model="district" required>
					                <option value="" selected disabled>Seleccioné una provincia</option>
					                <option :value="district.id" v-for="district in districts">{{ district.name }}</option>
					            </select>
							</div>
						</div>
						<div class="col">
							<label for="circuit">Población</label>
							<div class="form-group">
								<input type="text" class="form-control" v-model="circuit">
							</div>
						</div>
			        </div>
			        <div class="card-title">
			            <h6 class="text-primary">
			                • Selecciona la foto que desea que aparezca en su portada
			            </h6>
			        </div>
		            <div class="row">
		            	<div class="col">
		            		<label for="header">Portada</label>
		            		<div class="form-group">
		            			<input type="file" class="form-control">
		            		</div>
		            	</div>
		            </div>
		            <div class="card-title">
			            <h6 class="text-primary">
			                • Rellene sus datos de contacto y detalles del servicio que ofreces o demandas
			            </h6>
			        </div>
			        <div class="row">
			        	<div class="col">
			        		<label for="title">Título</label>
			        		<div class="form-group">
			        			<input type="text" class="form-control" v-model="title" required/>
			        		</div>
			        	</div>
			        </div>
			        <div class="row">
			        	<div class="col">
			        		<label for="description">Descripción</label>
			        		<div class="form-group">
			        			<textarea class="form-control" rows="5" v-model="description" required></textarea>
			        		</div>
			        	</div>
			        </div>
			        <div class="row">
			        	<div class="col">
			        		<label for="phone">Teléfono 1</label>
			        		<div class="form-group">
			        			<input type="text" class="form-control" v-model="phone" required/>
			        		</div>
			        	</div>
			        	<div class="col">
			        		<label for="other">Teléfono 2</label>
			        		<div class="form-group">
			        			<input type="text" class="form-control" v-model="other" required/>
			        		</div>
			        	</div>
			        </div>
			        <div class="row">
			        	<div class="col">
			        		<label for="email">E-mail</label>
			        		<div class="form-group">
			        			<input type="email" class="form-control" v-model="email" required/>
			        		</div>
			        	</div>
			        	<div class="col">
			        		<label for="url">Sitio Web</label>
			        		<div class="form-group">
			        			<input type="text" class="form-control" v-model="url" required/>
			        		</div>
			        	</div>
			        </div>
			        <div class="row">
			        	<div class="col">
			        		<label for="address">Lugar</label>
			        		<div class="form-group">
			        			<input type="text" class="form-control" v-model="address"/>
			        		</div>
			        	</div>
			        </div>
			        <div class="card-title">
			            <h6 class="text-primary">
			                • Cargue las imágenes que desea que aparezca en su anuncio
			            </h6>
			        </div>
			        <div class="row">
					    <div class="col">
					        <div class="form-group">
					            <button type="button" class="btn btn-border btn-primary" data-toggle="modal" data-target="#uploadImage">CARGAR IMÁGENES</button>
					        </div>
					    </div>
					</div>
			        <div class="card-title">
			            <h6 class="text-primary">
			                • Cargue los enlaces de videos YouTube que desea que aparezcan en su anuncio
			            </h6>
			        </div>
			        <div class="row">
					    <div class="col">
					        <div class="form-group">
					            <button type="button" class="btn btn-border btn-primary" data-toggle="modal" data-target="#uploadVideo">CARGAR VIDEOS</button>
					        </div>
					    </div>
					</div>
			        <div class="card-title">
			            <h6 class="text-primary">
			                • Pongan precio a su servicio o seleccione entre; a convenir a consultar Otros
			            </h6>
			        </div>
			        <div class="row">
			        	<div class="col">
			        		<label for="service">Precio del servicio</label>
			        		<div class="form-group">
			        			<select class="form-control" @change="setService()" v-model="service">
			        				<option value="A Convenir">A CONVENIR</option>
			        				<option value="A Consultar">A CONSULTAR</option>
			        				<option value="Otro">OTRO</option>
			        			</select>
			        		</div>
			        	</div>
			        	<div class="col">
			        		<label for="discount">Descuento especial <span class="text-danger">%</span></label>
			        		<div class="form-group">
			        			<input type="number" class="form-control" v-model="discount"/>
			        		</div>
			        	</div>
			        </div>
			        <div class="row">
			        	<div class="col">
			        		<label for="amount">¿Cúanto quieres que se enumere?</label>
			        		<div class="form-group">
			        			<input id="amount" type="number" class="form-control" v-model="amount" disabled/>
			        		</div>
			        	</div>
			        </div>
			        <div class="card-title">
			            <h6 class="text-primary">
			                • Seleccione todos sus enlaces de MP3 de SoundCloud que desee que aparezcan
			            </h6>
			        </div>
			        <div class="row">
					    <div class="col">
					        <div class="form-group">
					            <button type="button" class="btn btn-border btn-primary" data-toggle="modal" data-target="#uploadAudios">CARGAR AUDIOS</button>
					        </div>
					    </div>
					</div>  
					<div class="row">
		                <div class="col">
		                    <div class="form-group">
		                        <div class="checkbox">    
		                            <label>
		                                <input type="checkbox" name="politics" required> He leído y acepto el <a href=""> Aviso legal, condiciones de uso, politica de privacidad y cookies. </a>
		                            </label>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col">
		                    <div class="form-group">
		                    	<span class="text-primary">Su anuncio se publicara antes de 24 horas</span><br>
		                        <button type="submit" class="btn btn-primary">
		                            ENVIAR
		                        </button>
		                    </div>
		                </div>
		            </div>
				</form>
				<form ref="form" id="createdemand" @submit.prevent="createDemand()" autocomplete="on" v-else>
					<div class="row">
						<div class="col">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>
<script>

export default {
	props: ['categories', 'districts'],
	data () {
		return {
			next: false,
			type_posts: 0,
			category: '',
			subcategory: '',
			subcategories: [],
			district: '',
			circuit: null,
			file: '',
			title: '',
			description: '',
			phone: '',
			other: '',
			email: '',
			url: '',
			address: '',
			latInput: '',
			lngInput: '',
			service: 'A Convenir',
			discount: '',
			amount: ''
		}
	}, 
	methods: {
		getCategory: function () {
			this.subcategory = '';
			axios.get(`/get/${this.category}/subcategory`).then(response => {

				this.subcategories = response.data;
			});
		},
		setService: function () {
			if ( this.service == 'Otro' ) $('#amount').attr('disabled', false) 
			else $('#amount').attr('disabled', true)
		},
		createOffer: function () {
			
		},
		createDemand: function () {

		}
	}	
};

</script>