<template>
	<form ref="form" id="createEvent" @submit.prevent="createEvent()">
		<div class="modal-body">
			<div class="row">
				<div class="col-md">
					<label for="title">Título</label>
					<div class="form-group">
						<input type="text" id="title" v-model="title" :class="[ 'form-control', errors.title ? ' is-invalid' : '' ]" maxlength="45" required/>

						<div class="invalid-feedback" v-if="errors.title">
							{{ errors.title[0] }}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md">
					<label for="dayevent">Día del evento</label>
					<div class="form-group">
						<input type="date" id="dayevent" v-model="dayevent" :class="[ 'form-control', errors.dayevent ? ' is-invalid' : '' ]" required/>

						<div class="invalid-feedback" v-if="errors.dayevent">
							{{ errors.dayevent[0] }}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md">
					<label for="district">Provincia</label>
					<div class="form-group">	
						<select id="district" :class="[ 'form-control', errors.district ? ' is-invalid' : '' ]" v-model="district" required>
							<option value="" selected="" disabled="">Seleccione</option>
							<option :value="district.id" v-for="district in districts">{{ district.name }}</option>
						</select>

						<div class="invalid-feedback" v-if="errors.district">
							{{ errors.district[0] }}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md">
					<label for="circuit">Localidad</label>
					<div class="form-group">
						<input type="text" id="circuit" v-model="circuit" :class="[ 'form-control', errors.circuit ? ' is-invalid' : '' ]"  maxlength="55" required/>

						<div class="invalid-feedback" v-if="errors.circuit">
							{{ errors.circuit[0] }}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md">
					<label for="address">Dirección</label>
					<div class="form-group">
						<textarea id="address" v-model="address" :class="[ 'form-control', errors.address ? ' is-invalid' : '' ]" placeholder="" rows="3"></textarea>

						<div class="invalid-feedback" v-if="errors.address">
							{{ errors.address[0] }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">Guardar</button>
		</div>
	</form>
</template>

<script>

export default {
	props: ['districts'],
	data () {
		return {
			title: '',
			dayevent: '',
			district: '',
			circuit: '',
			address: '',
			errors: []
		}
	},
	methods: {
		createEvent: function () {
			
			axios.post('/my-events', {

				title: this.title,
				dayevent: this.dayevent,
				district: this.district,
				circuit: this.circuit,
				address: this.address

			}).then(response => {

				if ( response.data.limit ) {

					toastr.error('El límite para usuarios gratuitos es de 3 eventos', 'Error!')

				} else {

					toastr.success('Tu evento ha sido creado', 'Exito!')

					this.title = ''
					this.dayevent = ''
					this.district = ''
					this.circuit = ''
					this.address = ''
				}

			}).catch(error => {
				this.errors = error.response.data;
			});
		}
	}
};

</script>