<template>
	<button class="btn btn-border btn-warning text-white" v-on:click="getFollow()">
        <i class="fa fa-thumbs-up"></i> FANS {{ this.followers }}
    </button>
</template>
<script>
export default {
	props: ['post', 'fans'],
	data () {
		return {
			followers: this.fans
		}
	},
	methods: {
		getFollow: function () {

			axios.get(`${this.post.usr.username}/followers`).then(res => {
				
				if ( res.data == 'attach' ) {

					this.followers = this.followers + 1;

				} else {

					this.followers = this.followers - 1;
				}

			});
		}
	}
};
</script>