<template>
	<button type="button" class="btn btn-border btn-primary btn-sm" v-on:click="getLoadData()">
        <i class="fa fa-radius fa-volume-control-phone text-danger"></i> 
        CONTACTAR 
    </button>
</template>
<script>
export default {
	props: ['post'],
	data () {
		return {
		}
	},
	methods: {
		getLoadData: function () {

			$('#modalData').modal('show');
			$( 'div#js__data' ).empty();

			$( 'div#js__data' ).append(
				'<div class="p-2">'
					+'<strong>' 
						+ this.post.usr.name + 
					'</strong>'
				+'</div>'+
				'<div class="p-2">'+
					'<strong>'+
						'<i class="fa fa-radius fa-phone text-danger"></i> ' +  this.post.phone1 + 
					'</strong>'
				+'</div>');
		}
	}
};
</script>