<template>
	<button type="button" class="btn btn-border btn-primary btn-sm mt-2" v-on:click="getLoadImages()">
        VER
    </button>
</template>
<script>
export default {
	props: ['post'],
	data () {
		return {
		}
	},
	methods: {
		getLoadImages: function () {

			axios.get(`/post/${this.post.slug}/images`).then(res => {
				
				$('#modalImages').modal('show');
				$( 'div#js__images' ).empty();

				var i = 0;

                $.each(res.data.files, function( key, files ) {
                    
                    if ( res.data.files.length === 0 ) {

                        $( 'div#js__images' ).append('<div class="text-center border mb-2"><strong>NO HAY NINGÚNA IMAGEN CARGADA</strong></div>');

                    } else {
                        
                        $( 'div#js__images' ).append('<div class="carousel-item ' + (key == 0 ? "active" : "") + '"><img class="d-block w-100" src="/storage/posts/' + files.meta_url + '" alt="First slide"></div>');

                        i++;  
                    }

                });

			}).catch(error => {
				//
            });
		}
	}
};
</script>