<template>
	<div class="card border my-2">
		<div class="card-body">
			<div class="card-network">
				<div class="card-author-avatar">
					<a href="javascript:void(0);">
						<img :src="(network.usr.url != NULL) ? network.usr.url : '/img/icon.png'" v-if="network.usr">
					</a>
				</div>
				<div class="card-author">
					<a href="javascript:void(0);" v-if="network.usr">
				 		{{ network.usr.name +' ' + network.usr.surname }}
					</a>
				</div>
				<div class="card-time">{{ network.updated_at }} <i class="fa fa-globe" aria-hidden="true"></i></div>
				<div class="card-body">
					<div class="card-excerpt">
						<p>{{ network.message }}</p>
					</div>
			
					<!-- Contenedor de comentarios -->
					<div class="card-comentaries" v-for="(c,i) in network.messages" v-show="showComentaries">	
			
						<div class="card-author-avatar"> <!-- Avatar de usuario comentario -->
							<a href="javascript:void(0);">
								<img :src="(c.usr.url != NULL) ? c.usr.url : '/img/icon.png'" v-if="c.usr">
							</a>
						</div>
						<div class="card-author"><!-- Nombre usuario comentario -->
							<a href="javascript:void(0);" v-if="c.usr">{{ c.usr.name +' ' + c.usr.surname }}</a>
						</div>
				
						<p class="text-muted">{{ c.message }}</p><!-- Cometario como tal -->
						<hr>
					</div>
					<!-- Caja para comentar -->
					<div class="card-input-comentario" v-show="showComentaries">
						<textarea placeholder="Escribe aquí tu comentario" class="form-control" v-model="message" cols="30" rows="2" @keyup.enter="comment">						
						</textarea>
						<small class="text-muted"><i>Presione Enter para comentar</i></small>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="card-events mx-3">
				<a href="javascript:void(0);" @click="like" v-if="network.likes">
					<span v-if="network.likes.length > 0">{{ network.likes.length }}</span> Me gusta<span v-show="network.liked">, Te gusta esta publicacicón</span>
				</a>
				<a href="javascript:void(0);" @click="showComentaries = !showComentaries" v-if="network.messages"> <!-- Toggle que activa y desactiva los comentarios -->
				
					<span v-if="!showComentaries"> <!-- Mensaje de total de comentarios -->
						{{ network.messages.length }} 
						Comentario<span v-show="network.messages.length != 1">s</span>
					</span>

					<span v-else> <!-- Mensaje de ocultar -->
						Ocultar comentarios
					</span>
				</a>
			</div>
		</div>
	</div> 
</template>

<script>
	export default {
		props: {
			data: {
				type: Object,
				default: {}
			},
			user_id: 0
		},
		data () {
			return {
				network: {},
				showComentaries: false,
				message: ''
			}
		},
		methods: {
			comment () {
				if(!this.message) {
					alert('Debe ingresar un comentario para publicar')
					return 
				}

				let data = {
					message: this.message,
					network: this.network.id
				} 

				this.message = ''
				axios.post('network/comment', data)
					.then(res => {
						this.network.messages.push(res.data)
					})
					.catch(err => {
						if(err.response.status === 422) {
							alert(JSON.stringify(err.response.data.err)) 
							return
						} 

						alert('Algo ha ocurrido, revise su conexión')
					})
			},
			like () {
			
				if(this.network.liked) {
					this.network.liked = false
					let index = this.network.likes.findIndex(e => {
						return e.user == this.user_id
					})
					this.network.likes.splice(index, 1)
				
				}else {        
					this.network.liked = true
					this.network.likes.push({
						network: this.network.id,
						user: this.user_id
					});
				}

				let data = { 
					network: this.network.id, 
					liked: !this.network.liked 
				}


				axios.post('network/like', data)
					.then(res => console.log(res.data))
					.catch(err => console.log(err))
			}
		},
		mounted() {
			this.network = this.data
		}
}; </script>
