.app .content {
    padding: 95px 20px 75px 20px;
    min-height: 100vh;
}

.items-list-page .title-search-block {
    position: relative;
}

.title-block {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d7dde4;
}

.title-block::after {
    display: block;
    clear: both;
    content: "";
}

.title {
    font-size: 1.45rem;
    font-weight: 600;
    margin-bottom: 0;
}

.title-description {
	margin: 0;
    font-size: 0.9rem;
    font-weight: normal;
    color: #7e8e9f;
}

.title-description-ad {
    font-size: 0.85rem;
    color: #3c3c3c;
    font-family: 'Ubuntu', sans-serif;
}

/*.btn.btn-primary, .btn.btn-primary:hover {
    color: #ffffff;
}

.btn.btn-primary:hover {
    color: #fff;
    background-color: #72b22b;
    border-color: #6ba829;
}

.btn.btn-primary:focus, .btn.btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(133, 206, 54, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(133, 206, 54, 0.5);
}

.btn.btn-primary:not(:disabled):not(.disabled):active, .btn.btn-primary:not(:disabled):not(.disabled).active, .show > .btn.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #6ba829;
    border-color: #649e26;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(133, 206, 54, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(133, 206, 54, 0.5);
}*/

@media (max-width: 767.98px) {
	.app .content {
	    padding: 70px 20px 70px 20px;
	}
}

@media (max-width: 1199.98px) and (min-width: 992px) {
	.app .content {
	    padding: 100px 35px 80px 35px;
	}
}

@media (min-width: 1200px) {
	.app .content {
	    padding: 105px 40px 85px 40px;
	}
}
