.footer {
    background-color: #fff;
    position: absolute;
    left: 240px;
    right: 0;
    bottom: 0;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer .footer-block {
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}


.footer .footer-block {
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}


@media (max-width: 991.98px) {
    .footer {
        left: 0;
    }
}