.header {
    background-color: #d7dde4;
    height: 70px;
    position: absolute;
    left: 240px;
    right: 0;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header .header-block-collapse {
    padding-right: 5px;
}

.header .header-block-nav {
    margin-left: auto;
    white-space: nowrap;
    padding-right: 15px;
}

.header .header-block-nav > ul {
    display: table;
}

.header .header-block-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header .header-block-nav .notifications {
    font-size: 16px;
}

.header .header-block-nav > ul > li {
    display: table-cell;
    position: relative;
}

.header .header-block-nav .notifications a {
    padding-right: 10px;
}

.header .header-block-nav > ul > li > a {
    padding: 0 15px;
    color: #4f5f6f;
}

.header .header-block-nav a {
    text-decoration: none;
}

[class^='nav'] li > a, [class*=' nav'] li > a {
    display: block;
}

.header .header-block-nav > ul > li:before {
    display: block;
    content: " ";
    width: 1px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    background-color: #8b9cb1;
    position: absolute;
    left: 0;
}

.header .header-block-nav > ul > li {
    display: table-cell;
    position: relative;
}

.header .header-block-nav .profile-dropdown-menu {
    left: auto;
    right: 0;
    min-width: 180px;
    white-space: normal;
}

.header .header-block-nav .dropdown-menu {
    margin-top: 15px;
}

.dropdown-menu {
    float: left;
    -webkit-box-shadow: 2px 3px 6px rgba(126, 142, 159, 0.1);
    box-shadow: 2px 3px 6px rgba(126, 142, 159, 0.1);
    border: 1px solid rgba(126, 142, 159, 0.1);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.header .header-block-nav::after {
    display: block;
    clear: both;
    content: "";
}

.header .header-block-nav .profile .img {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    background-color: #8b9cb1;
    color: #ffffff;
    text-align: center;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
}

.header .header-block-nav .profile-dropdown-menu a {
    padding: 10px 15px;
}

.dropdown-menu .dropdown-item {
    display: block;
    padding: 0px 15px;
    clear: both;
    font-weight: normal;
    color: #4f5f6f;
    white-space: nowrap;
    -webkit-transition: none;
    transition: none;
}

.dropdown-menu .dropdown-item:hover {
    color: #8b7ed2 !important;
    background: none;
    background-color: whitesmoke;
}

.header .header-block-collapse .collapse-btn {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #8b7ed2;
    font-size: 24px;
    line-height: 40px;
    border-radius: 0;
    outline: none;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: initial;
}

@media (max-width: 767.98px) { 
    .header {
        left: 0;
        height: 50px;
    }
}

@media (max-width: 991.98px) {
    .header {
        left: 0;
    }
}


@media (min-width: 992px) {
    .d-lg-none {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .d-xl-none {
        display: none !important;
    }
}
