.item-list .item-col.item-col-actions-dropdown {
    -ms-flex-preferred-size: 40px;
    flex-basis: 40px;
    text-align: center;
    padding-left: 0 !important;
}

.item-list .item-col:last-child {
    padding-right: 0;
}

.item-list .item-col.fixed {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.item-list .item-col {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 10px 10px 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    -ms-flex-negative: 3;
    flex-shrink: 3;
    margin-left: auto;
    margin-right: auto;
    min-width: 0;
}

.item-col.item-col-date {
    text-align: left;
}

.item-list .item-col > div {
    width: 100%;
}

.item-list .no-overflow {
    overflow: hidden;
}

.item-list .item-col > div {
    width: 100%;
}

.item-list .item-actions-dropdown {
    position: relative;
    font-size: 1.1rem;
}

.item-list .item-actions-dropdown .item-actions-toggle-btn {
    color: #9ba8b5;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}

.item-list .item-actions-dropdown .item-actions-toggle-btn .active {
    display: none;
}

.item-list .item-actions-dropdown .item-actions-block {
    height: 30px;
    max-width: 0px;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: #d7dde4;
    border-radius: 3px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.item-list .item-actions-dropdown .item-actions-block .item-actions-list {
    padding: 0;
    list-style: none;
    white-space: nowrap;
    padding: 0 5px;
}

.item-list .item-actions-dropdown .item-actions-block .item-actions-list li {
    display: inline-block;
    padding: 0;
}

.item-list .item-actions-dropdown .item-actions-block .item-actions-list a.remove {
    color: #DB0E1E;
}

.item-list .item-actions-dropdown .item-actions-block .item-actions-list a {
    display: block;
    padding: 0 5px;
}

.item-list .item-actions-dropdown .item-actions-block .item-actions-list a.edit {
    color: #38424C;
}

.item-list .item-actions-dropdown .item-actions-block .item-actions-list a {
    display: block;
    padding: 0 5px;
}

.item-list .item-actions-dropdown.active .item-actions-block {
    max-width: 120px;
}

.item-list .item-actions-dropdown.active .item-actions-toggle-btn .active {
    display: block;
}

.item-list .item-actions-dropdown.active .item-actions-toggle-btn {
    color: #85CE36;
}

.item-list .item-actions-dropdown.active .item-actions-toggle-btn .inactive {
    display: none;
}