.main-wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.app {
    position: relative;
    width: 100%;
    padding-left: 240px;
    min-height: 100vh;
    margin: 0 auto;
    left: 0;
    background-color: #f0f3f6;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    -webkit-transition: left 0.3s ease, padding-left 0.3s ease;
    transition: left 0.3s ease, padding-left 0.3s ease;
    overflow: hidden;
}