.section {
    display: block;
    margin-bottom: 15px;
}

.card-block {
    padding: 15px;
}

.card .title-block, .card .card-title-block {
    padding-bottom: 0;
    margin-bottom: 20px;
    border: none;
}

.card .title {
    font-size: 1.1rem;
    color: #4f5f6f;
}

.title {
    font-size: 1.45rem;
    font-weight: 600;
    margin-bottom: 0;
}

.card .title-block::after, .card .card-title-block::after {
    display: block;
    clear: both;
    content: "";
}

.card .example, .card .section.demo {
    margin-bottom: 20px;
}

.pagination li:first-child li span {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.pagination li:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.pagination li.active span {
    z-index: 1;
    color: #fff;
    background-color: #6769d4;
    border-color: #6769d4;
}

.pagination li span, .pagination li a {
	position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #6769d4;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

@media (max-width: 767.98px) {
	.card-block {
	    padding: 10px;
	}
}

@media (min-width: 1200px) {
	.card-block {
	    padding: 20px;
	}
}

@media (max-width: 767.98px) {
	.section {
	    margin-bottom: 10px;
	}
}

@media (max-width: 991.98px) and (min-width: 768px) {
	.section {
	    margin-bottom: 15px;
	}
}

@media (min-width: 1200px) {
	.section {
	    margin-bottom: 25px;
	}
}

