.sidebar {
    background-color: #3a4651;
    width: 240px;
    padding-bottom: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    z-index: 20;
}

.sidebar .sidebar-container {
    position: absolute;
    top: 0;
    bottom: 51px;
    width: 100%;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-header .brand {
    color: #fff;
    text-align: left;
    padding-left: 25px;
    line-height: 70px;
    font-size: 16px;
}

.logo {
    display: inline-block;
    width: 45px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
}

.logo .l.l1 {
    bottom: 0;
    left: 0;
}

.logo .l.l2 {
    width: 7px;
    height: 7px;
    bottom: 13px;
    left: 10px;
}

.logo .l.l3 {
    width: 7px;
    height: 7px;
    bottom: 4px;
    left: 17px;
}

.logo .l.l4 {
    bottom: 13px;
    left: 25px;
}

.logo .l.l5 {
    bottom: 0;
    left: 34px;
}

.logo .l {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #85CE36;
    position: absolute;
}

.sidebar .sidebar-menu {
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar .sidebar-menu > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 15px;
}

.sidebar .sidebar-menu li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    display: block;
}

.sidebar .sidebar-menu > li > a i {
    margin-right: 5px;
    font-size: 16px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.metismenu .active > a > .fa.arrow:before {
    content: "\f107";
}
.sidebar .sidebar-menu .arrow:before {
    content: "\f105" !important; 
}

.metismenu .fa.arrow:before {
    content: "\f104";
}

.sidebar .sidebar-menu > li.active > a, .sidebar .sidebar-menu > li.active > a:hover {
    background-color: #85CE36 !important;
    color: #ffffff !important;
}

.sidebar .sidebar-menu > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 15px;
}

.sidebar .sidebar-menu li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    display: block;
}

.sidebar .sidebar-menu li.active ul {
    height: auto;
}

.sidebar .sidebar-menu .arrow {
    float: right;
    font-size: 18px;
    line-height: initial;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-right: 0;
}

.sidebar .sidebar-menu > li > a i.arrow {
    font-size: 20px;
}

.loaded .sidebar .sidebar-menu ul {
    height: auto;
}

.sidebar .sidebar-menu ul {
    padding: 0;
    height: 0px;
    overflow: hidden;
}

.metismenu .collapse {
    display: none;
}

.metismenu .collapse.in {
    display: block;
}

.collapse {
    display: none;
}

.sidebar .sidebar-menu > li > .sidebar-nav > li a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 15px;
    background-color: #333e48;
}

.sidebar-open .sidebar {
    left: 0;
}

.sidebar-overlay {
    position: absolute;
    display: none;
    left: 200vw;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    z-index: 15;
}

.sidebar-mobile-menu-handle {
    display: none;
    position: absolute;
    top: 50px;
    background-color: transparent;
    width: 30px;
    bottom: 0;
    z-index: 10;
}

.sidebar .sidebar-menu li.open > a .arrow {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sidebar .label {
    font-size: .75em;
    display: inline-block;
    border-radius: .2em;
    padding: 2px 5px;
    background-color: #ccc;
    color: #000;
    margin: 0 3px;
}

.sidebar .label-screenful {
    color: #fff;
    background-color: #6769d4;
}

.sidebar .sidebar-menu > li > .sidebar-nav > li.active a {
    color: #ffffff;
}

.sidebar .sidebar-menu li a:hover, .sidebar .sidebar-menu li.open > a, .sidebar .sidebar-menu li.open a:hover {
    color: #ffffff;
    background-color: #2d363f;
}

/*.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn.btn-primary, .btn.btn-primary:hover {
    color: #ffffff;
}

.btn.btn-primary {
    color: #212529;
    background-color: #85CE36;
    border-color: #85CE36;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
*/
.rounded-s {
    border-radius: 0.2rem;
}
/*
.btn {
    background-image: none;
    border-radius: 0;
    margin-bottom: 5px;
    line-height: 1.2;
}*/

@media (max-width: 991.98px) {
    .sidebar-mobile-menu-handle {
        display: block;
    }
}

@media (max-width: 991.98px) {
    .sidebar-open .sidebar-overlay {
        left: 0;
        opacity: 1;
    }
}

@media (max-width: 767.98px) {
    .sidebar-overlay {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@media (max-width: 991.98px) {
    .sidebar-overlay {
        display: block;
    }
}

@media (max-width: 767.98px) {
    .header {
        left: 0;
        height: 50px;
    }
}

@media (max-width: 991.98px) {
    .app {
        padding-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        position: fixed;
        left: -240px;
    }
}

@media (max-width: 991.98px) {
    .app.sidebar-open {
        left: 0;
    }
}