// Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

// Functions
@import "node_modules/bootstrap/scss/_functions";

// Variables
@import "node_modules/bootstrap/scss/_variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Fonts
@import "node_modules/font-awesome/scss/font-awesome";

@import "node_modules/toastr/toastr";

// Main
@import "main";

// Header
@import "header";

// Sidebar
@import "sidebar";

// Content
@import "content";

// Sections
@import "sections";

// Items 
@import "items";

// Forms
@import "forms";

// Footer
@import "footer";

// Frontend Header
@import "./frontend/header";

// Lightslider
@import "./frontend/lightslider";

// Buttons
@import "./frontend/buttons";

// Froms
@import "./frontend/forms";

// Text
@import "./frontend/text";

// Footer
@import "./frontend/footer";

//Dropzone
@import "./frontend/dropzone";

//Images
@import "./frontend/images";

// Icons 
@import "./frontend/icons";

// DataTables
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";

// Datapicker
@import '~jquery-ui/themes/base/all.css';

// cookies-message

.js_enabled #cookie-message {
    display: none;
}

#cookie-message {
    position: fixed;
    padding: 1px 20px;
    background-color: #ded4fe;
    border: 1px solid #9c95c1;
    color: #212529;
    z-index: 10;
    bottom: 0;
    width: 100%;
}

html{
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Ubuntu', sans-serif;
    color: #4f5f6f;
    overflow-x: hidden;
    position: relative;
}

ol ol, ul ul, ol ul, ul ol {
    margin-bottom: 0;
}

#wrapperDiv { 
    opacity: 0; 
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(131, 145, 229);
}

[class~=card-excerpt], [class~=card-network] {
    margin-bottom: 19.5pt;
}

[class~=card-options] {
    line-height: 9pt;
}

[class~=card-options], .card-menu ul li a span {
    float: right;
}

[class~=card-author-avatar] {
    margin-right: 6pt;
}

[class~=card-author-avatar] {
    float: left;
}

[class~=card-author] {
    color: #365899;
}

[class~=card-actions] a, [class~=card-author] {
    font-weight: bold;
}

.card-author-avatar img {
    height: 40px;
}

.card-author-avatar img {
    width: 30pt;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.transparent {
    position: absolute;
    z-index: 51;
    width: 100%;
    background: #0000008a !important;
}

.hasHeader {
    position: relative;
    margin-bottom: 0.1rem;
    height: 380px;
}

/*@media (min-width: 1200px) {
    .container {
        max-width: 1360px;
    }
}*/
/*
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #78bd2e;
}

::-webkit-scrollbar-track {
    border-radius: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}*/