.btn {
    border-radius: 0;
}

.btn-primary {
    font-weight: bold;
    color: #ffffff;
    background: #8b7ed2;
    border-color: transparent;
    -webkit-transition: color .25s ease, background-color .25s ease;
    -moz-transition: color .25s ease, background-color .25s ease;
    -ms-transition: color .25s ease, background-color .25s ease;
    -o-transition: color .25s ease, background-color .25s ease;
    transition: color .25s ease, background-color .25s ease;
}

.btn-primary:hover {
    color: #ffffff !important;
    background-color: #8991df;
    border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #ffffff !important;
    background: #8b7ed2;
    border-color: transparent;
}

.bg-buttons {
    background: linear-gradient(#C2C2EF, #8894D9, #C2C2EF);
    padding: 10px;  
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #c38e1b;
    border-color: #ecd690;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #8b7ed2;
    border-color: #8b7ed2;
}

.dropdown-toggle.img::after {
    display: none;
}

.btn-border {
    border-radius: 15px !important;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.15rem 0.5rem !important;
}

.btn-blue {
    font-weight: bold;
    color: #ffffff !important;
    background: #4267b2;
    border-color: transparent;
    -webkit-transition: color .25s ease, background-color .25s ease;
    transition: color .25s ease, background-color .25s ease;
}

.btn-red {
    font-weight: bold;
    color: #ffffff !important;
    background: #F50B0A;
    border-color: transparent;
    -webkit-transition: color .25s ease, background-color .25s ease;
    transition: color .25s ease, background-color .25s ease;
}

.btn-green {
    font-weight: bold;
    color: #ffffff !important;
    background: #09D904;
    border-color: transparent;
    -webkit-transition: color .25s ease, background-color .25s ease;
    transition: color .25s ease, background-color .25s ease;   
}
.btn.limit {
    padding: 0.105rem 0.75rem !important;
}

@media (max-width: 576px) {
    .btn-lock {
        text-align: left;
        margin-bottom: 5px;
        display: block;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .btn-lock {
        text-align: left;
        margin-bottom: 5px;
        display: block;
        width: 100%;
    }
}
