.page-header {
	margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 2.4em;
    line-height: 45px;
    padding: 5px 5px 0px 20px;
    /*background: linear-gradient(#C2C2EF, #8894D9, #C2C2EF);*/
    background: #8B7ED2;
    color: #ffffff;
    width: 100%;
}

.page-header h1 {
	font-size: 1em;
	font-weight: normal;
}

.form-control:focus {
	color: #495057;
    background-color: #fff;
    border-color: transparent;
}


.categories ul.category {
    list-style: none;
    padding: 0;
    cursor: pointer;
}

.categories ul.category li {
    cursor: pointer;
}

.category li {
    text-transform: uppercase;
}

.categories ul li i {
    cursor: pointer;
}

.categories ul li i.fa {
    font-size: small;
}

ul.category li.liClose ul {
    display: none;  
}

ul.category li.liOpen ul {
    display: block;  
    border-left: 1px solid #CCDDCC;
}

.text-primary {
    color: #8b7ed2 !important;
}

.categories ul li ul {
    list-style: none;
}

.categories ul li ul li {
    margin-left: -15px;
}

.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    line-height: 135px;
    text-align: center;
}

.card {
    border: none !important;
    border-radius: 0; 
}

.card-title {
    font-family: 'Ubuntu', sans-serif; 
}

.card-header.menu-vertical {
    background: #8b7ed2;
    color: #fff;
}

.card.border {
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 0.25rem;
}

.ml-15 {
    padding: 15px !important;
}

.card-footer {
    padding: 0.5rem 0.20rem;
}

.ml-draft__info {
    max-width: 200px;
    display: inline-block;
    min-height: 75px;
}

.ml-draft__info p {
    font-size: 15px;
    line-height: 20px;
    color: #999;
    margin: 0;
}

.ml-action__button {
    padding: 0;
    margin-top: 10px;
}

.ml-action-button__secondary {
    margin: 0 0 0 15px;
}

.multiselect {
    width:20em;
    height:15em;
    border:solid 1px #c0c0c0;
    overflow:auto;
}
  
.multiselect label {
    display:block;
}
  
.multiselect-on {
    color:#ffffff;
    background-color:#000099;
}

.card-body.no__padding {
    padding: 0 !important;
}

.category__item, .category-item__item {
    padding: 9px 2px 9px 10px;
    border-bottom: solid 1px #8b7ed2;
    margin: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 12px;
}

.category__item.bg-purple {
    background: #ddd9f2;
}

.category-item__main {
    display: none;
}

.category-item__item {
    padding-left: 25px !important;
}

.category__item:hover ~ .category-item__main  {
    display: block;
}

.category-item__main:hover {
    display: block;
}