.wrapper.header-login {
    opacity: 1;
    min-height: 468px;
    background: transparent url(/img/login.jpg);
    background-size: 100%;
}

.wrapper .boxmap {
    position: absolute;
    height: 220px;
    width: 210px;
    top: -160px;
    right: -215px;
    background-size: 200px;
}

.wrapper-logo img {
	margin: 0 auto;
	width: 310px;
}

.wrapper .search {
    padding: 10px;
    padding-bottom: 50px;
}

.search-form {
	background: linear-gradient(#A07C3C, #F0C05C, #A07C3C);
    padding: 5px;
    border-radius: 8px;
}

.wrapper-text h1 {
    font-weight: bold;
    background: -webkit-linear-gradient(#8A88DE, #CFCDDF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem !important;
}

.search-input {
    width: 55%;
	height: 40px;
}

.form-control.search-query {
    width: 100%;
}

.btsearch {
    border: none;
    font-size: 22px;
    padding: 0px 30px;
    background-color: rgba(142, 87, 40, 0.76);
    margin-left: 5px;
    color: #fff;
    height: 40px;
    cursor: pointer;
    -webkit-appearance: none;
}

.input-group-text.primary {
    background: linear-gradient(#A07C3C, #F0C05C, #A07C3C) !important;
    color: #ffffff;
    border: transparent;
}

.content-buttons {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-slider {
    text-align: center;
}

a.nav-link {
    color: #8391e5;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #c69b41;
}

@media (max-width: 767.98px) { 
    .wrapper .search {
        padding-bottom: 1px !important;
    }
}

@media (max-width: 767.98px) { 
    .wrapper .boxmap {
        display: none;
    }
}



