.images-container .image-container {
    float: left;
    left: 50px;
    padding: 3px;
    margin-bottom: 35px;
    position: relative;
    border: 1px solid #e6eaee;
    overflow: hidden;
}

.images-container .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 130px;
    height: 135px;
    line-height: 135px;
    text-align: center;
}

.images-container .controls {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    bottom: -35px;
    text-align: center;
    height: 35px;
    font-size: 24px;
    -webkit-transition: bottom 0.2s ease, opacity 0.2s ease;
    transition: bottom 0.2s ease, opacity 0.2s ease;
    background-color: #fff;
}

.images-container .image-container:hover .controls {
    bottom: 0;
    opacity: 1;
}

.image.pointer {
    cursor: pointer;
}