.advice {
	margin: 25px;
    font-size: 13px;
    color: #444;
    text-align: left;
    width: 100%;
}

.advice.red {
    color: #970000;
    background: #FFF0F0;
    border-top: 1px solid #970000;
}

.advice.yellow {
    color: #BA8E1B;
    background: #FFFDE6;
    border-top: 1px solid #BA8E1B;
}

.advice.blue {
	color: #000D40;
    background: #F4F5FB;
    border-top: 1px solid #000D40;
}


.advice.green {
	color: #117711;
    background: #F0FFEC;
    border-top: 1px solid #117711;
}

.advice.yellowdark {
	color: #D23900;
    background: #FFECC6;
    border-top: 1px solid #D23900;
}

.advice.purple {
	color: #771177;
    background: #FAE8FF;
    border-top: 1px solid #771177;
}

.advice.bluedark {
	color: #004F7D;
    background: #DFF9F9;
    border-top: 1px solid #004F7D;
}

.advice.brown {
	color: #552B00;
    background: #F8EDE4;
    border-top: 1px solid #552B00;
}

.category-icon {
    min-height: 120px;
}

.category-title {
    font-weight: bold;
    background: -webkit-linear-gradient(#8A88DE, #CFCDDF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-primary.name-category {
    font-weight: 400;
}

.pointer-none {
    text-decoration: none !important;
}

.details {
    font-size: 13px;
}

.text-blue {
    color: #4267b2;
}

.text-lightblue {
    color: #4AB3F4;
}

.rounded {
    border-radius: 50% !important;
}