<template>
	<form ref="form" id="createform" @submit.prevent="updateProfile()" autocomplete="off" enctype="multipart/form-data">
		<div class="row">
			<div class="col">
				<label class="control-label">Perfil</label>
				<div class="form-group">
					<input type="file" :class="[ 'form-control boxed', errors.file ? ' is-invalid' : '' ]" @change="processFile($event)" accept="image/png, image/jpeg"/>
					
					<div class="invalid-feedback" v-if="errors.file">
						{{ errors.file[0] }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label class="control-label">Nombres</label>
				<div class="form-group">
					<input type="text" maxlength="45" :class="[ 'form-control boxed', errors.name ? ' is-invalid' : '' ]" v-model="user.name" required/>
					<div class="invalid-feedback" v-if="errors.name">
						{{ errors.name[0] }}
					</div>
				</div>
			</div>
			<div class="col">
				<label class="control-label">Apellidos</label>
				<div class="form-group">
					<input type="text" maxlength="45" :class="[ 'form-control boxed', errors.surname ? ' is-invalid' : '' ]" v-model="user.surname" required/>
					<div class="invalid-feedback" v-if="errors.surname">
						{{ errors.surname[0] }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label class="control-label">Contraseña</label>
				<div class="form-group">
					<input type="password" maxlength="16" :class="[ 'form-control boxed', errors.password ? ' is-invalid' : '' ]" v-model="reset.password"/>
					<div class="invalid-feedback" v-if="errors.password">
						{{ errors.password[0] }}
					</div>
				</div>
			</div>
			<div class="col">
				<label class="control-label">Confirmar contraseña</label>
				<div class="form-group">
					<input type="password" maxlength="16" :class="[ 'form-control boxed', errors.password_confirmation ? ' is-invalid' : '' ]" v-model="reset.password_confirmation" />
					<div class="invalid-feedback" v-if="errors.password_confirmation">
						{{ errors.password_confirmation[0] }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
	                <button type="submit" class="btn btn-primary"> Actualizar </button>
	            </div>
        	</div>
		</div>
	</form>
</template>

<script>

export default {
	props: ['user'],
	data () {
		return {
			file: '',
			reset: {
				password: '',
				password_confirmation: ''
			},
			errors: []
		}
	},
	methods: {
		processFile (event) {
    		this.file = event.target.files[0]
  		},
		updateProfile: function () {

			let formData = new FormData();

			formData.append('name', this.user.name);
			formData.append('surname', this.user.surname);
			formData.append('password', this.reset.password);
			formData.append('password_confirmation', this.reset.password_confirmation);
			formData.append('file', this.file);

			axios.post('/admin/my-profile', formData).then(response => {
	            	
            	window.location.href = `/admin/my-profile`;

            }).catch(error => {
                this.errors = error.response.data;
            });
		}
	}
};

</script>